[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/tranthanhtrung
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tranthanhtrung
	label-Verified = -1..+1 group user/tranthanhtrung
	push = group user/tranthanhtrung
	read = group user/tranthanhtrung
	rebase = group user/tranthanhtrung
	removeReviewer = group user/tranthanhtrung
	submit = group user/tranthanhtrung
[access "refs/heads/*"]
	create = group user/tranthanhtrung
	push = +force group user/tranthanhtrung
	pushMerge = group user/tranthanhtrung
	read = group user/tranthanhtrung
[access "refs/tags/*"]
	push = group user/tranthanhtrung
	push = +force group user/tranthanhtrung
